
<% todo_assets.each do |entry| %>
  <div class="index_entry"
    <%= gui.context_menu(:entity => entry, 
                         :id => 'todo_asset_' << entry.todo_asset_id)
    %>
    >
    <div class="header">
      <%= gui.link_to(entry) { entry.name } %>
    </div>
    <div class="info"><%= entry.comment %></div>
  </div>
<% end %>
